<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Let's Cause Bodily Harm to Joe! (in Minecraft)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button color="tertiary" expand="block" (click)="changePage('page2')">A Day in the life of Joe</ion-button>

  <!-- <div id="container">
    <strong>Ready to create an app? NO!!</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
